<html lang="en">
  <head>
    <title>Twitter Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <header>
          <h1 align="center"><a href="/">Twitter App</a></h1>
          <p> <form method="post" align="center">
                {% csrf_token %}
                {{ form }}
                <input type="button" onclick="test()" class="btn btn-success" value="Submit" />
              </form>
          </p>
        </header>
      </div>
    </div>

    <div class="container">
      <div class="jumbotron">
        <table id="table-id">


        </table>
      </div>
    </div>
  </body>

      <script>
      function test() {
          var value = $('#id_username').val();
          var xhttp = new XMLHttpRequest();

    $.ajax({

        url : "/",
        type : "GET",
        data : {username:value},
        success : function(response){
          var tweets = $.parseJSON(response)['tweets']
          $('#table-id').append('<tr><th class="text-center">Last 10 Tweets from the '+value+' </th></tr>');

          for(i=0;i<tweets.length;i++){
            $('#table-id').append('<tr><td> *) '+tweets[i]+'</td></tr>');
          }

          $('#table-id').append('<tr><td class="text-center">........................................</td></tr>')


        }

      });


    }
      </script>
</html>
